div,
nav,
ul,
li,
a,
i,
span,
form,
input {
  padding: 0;
  margin: 0;
}

* {
  /* outline: 1px solid #ddd; */
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:focus,
a:visited {
  text-decoration: none;
  color: #666;
}

a:hover {
  text-decoration: none;
  color: #666;
}

.header-section {
  /* height: 50px; */
  line-height: 50px;
  background-color: #209e85;
}

.help-page {
  background-color: #eee;
}

.help-title {
  line-height: 3em;
}

.help-content {
  background-color: #fff;
  padding: 60px 20px;
  padding-bottom: 200px;
}

.nav>li>a {
  color: #f5f5f5;
  font-size: 16px;
  padding: 15px;
}

.nav>li.active:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  bottom: -1px;
  border: 6px solid transparent;
  border-bottom: 6px solid #eee;
}

.navbar {
  margin-bottom: 0px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

.navbar-brand img {
  width: 100px;
  margin-top: -10px;
  margin-right: 40px;
}

.navbar-form {
  float: left;
  margin-top: 10px;
  position: relative;
  margin-right: 40px;
}

.navbar-form .form-control {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.navbar-form.focus .form-control {
  width: 120px;
}

.navbar-form.focus .form-control,
.navbar-form.focus .add-on {
  color: #999;
  background-color: #fff;
}

.form-control {
  height: 30px;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(85, 85, 85);
  background-color: transparent;
  border-right: 0;
  background-image: none;
  box-shadow: none;
  padding: 4px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #5BC5B0;
  border-image: initial;
  border-radius: 20px 0px 0px 20px;
  transition: width 0.5s;
}

.form-control::placeholder {
  color: #fff;
}

.navbar-form.focus .form-control::placeholder {
  color: #999;
}

.navbar-form.focus i {
  color: #999;
}

.navbar-form .add-on {
  position: absolute;
  width: auto;
  min-width: 16px;
  line-height: 16px;
  font-size: 16px;
  display: inline-block;
  top: 0px;
  padding: 6px 6px;
  text-align: center;
  margin-left: -5px;
  right: -4px;
  border-radius: 0px 20px 20px 0px;
  background-color: #209e85;
  border: 1px solid #5BC5B0;
  border-left: none;
}


/* test */

.fa-search {
  color: #fff;
  position: relative;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
}

.header-title {
  display: inline-block;
  color: #666;
  padding: 1px 15px;
  line-height: 3em;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.header-title:hover {
  color: #666;
  text-decoration: none;
  border-color: #38c2a8;
}


/* 目录  */

.list.active1,
.list.active1:hover {
  background-color: #38c2a8;
  color: #fff;
  text-decoration: none;
}

.list.active1 a {
  color: #fff;
}

.list.active1 ul {
  display: block;
}

.list.active1 ul li a {
  color: #333;
}

.list ul {
  display: none;
}

.list ul li {
  background-color: #fff;
}

.list ul li a {
  color: #333;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  border-left: 4px solid transparent;
}

.list ul li.active a,
.list ul li.active:hover a {
  width: 100%;
  border-left: 4px solid #209e85;
  background-color: #fdfdfd;
}

.list ul li:hover a {
  display: inline-block;
  width: 100%;
  border-left: 4px solid #209e85;
  background-color: #f5f5f5;
}

.list a {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 10px;
  padding-left: 10px;
  color: #209e85;
}

.list:hover {
  background-color: #ddd;
}


/* 右侧内容 */

.page-content h4 {
  font-size: 17.5px;
  font-weight: bold;
  line-height: 20px;
}

.page-content h3 {
  font-weight: bold;
}

.page-content p {
  color: #666;
}