* {
    outline: 1px solid #ddd;
    box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i,
ul,
i,
li,
input,
form,
img,
nav,
header,
footer {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i {
    font-style: normal;
}