* {
    outline: 1px solid #ddd;
    box-sizing: border-box;
}

div,
ul,
li,
a,
form,
input,
span,
i,
img {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #209e85;
    border-radius: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar .nav-left,
.navbar .nav-right {
    display: inline-block;
}

.navbar .nav-left {
    float: left;
}

.navbar .nav-right {
    float: right;
}

.navbar .nav-left ul li,
.navbar .nav-right ul li {
    display: inline-block;
}

.navbar li {
    margin-right: 40px;
    line-height: 50px;
    position: relative;
}

.navbar a {
    color: #f5f5f5;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding-top: 8px;
}

.navbar .nav-left a {
    font-size: 16px;
}

.navbar .nav-left .nav-brand {
    text-align: left;
}

.navbar .nav-left .nav-brand img {
    width: 100px;
    margin-top: 4px;
}

.navbar .nav-right .nav-user {
    display: inline-block;
}

.intro {
    margin-top: 0px;
    background-color: #eee;
}

.intro-brand {
    line-height: 350px;
    width: 100%;
    background-color: #2f706e;
    background-image: url(../img/speak/intro-brand.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-brand img {
    width: 420px;
    padding: 80px;
}

.intro-desc {
    padding: 35px;
    margin-top: 65px;
    position: relative;
    background-color: #fdfdfd;
    border-radius: 2px;
}