* {
  box-sizing: border-box; }

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i,
ul,
i,
li,
input,
form,
img,
nav,
header,
footer {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:focus,
a:hover {
  text-decoration: none; }

i {
  font-style: normal; }

body {
  background-color: #eee;
  color: #333; }

#header-section {
  line-height: 50px; }
  #header-section .navbar {
    width: 100%;
    background-color: #209e85;
    margin-bottom: 0px;
    border-radius: 0px; }
    #header-section .navbar .navbar-brand img {
      display: inline-block;
      width: 100px;
      margin-top: -8px;
      margin-right: 40px; }
    #header-section .navbar .nav li a {
      color: #f5f5f5;
      font-size: 16px; }
      #header-section .navbar .nav li a:hover {
        background-color: #209e85;
        color: #fff; }
      #header-section .navbar .nav li a:focus {
        background-color: #209e85;
        color: #fff; }
    #header-section .navbar .navbar-right {
      font-size: 16px; }
      #header-section .navbar .navbar-right ul {
        float: left;
        margin-right: 40px; }
      #header-section .navbar .navbar-right .nav-user {
        display: inline-block; }
        #header-section .navbar .navbar-right .nav-user a {
          display: inline-block;
          color: #f5f5f5; }
        #header-section .navbar .navbar-right .nav-user span {
          color: #fff;
          margin: 0 5px; }

.register-page .register-box {
  margin: 40px auto;
  width: 900px;
  height: 770px;
  background: #fdfdfd;
  border-radius: 4px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 0 8px 0 rgba(0, 0, 0, 0.15); }
  .register-page .register-box .silde {
    display: inline-block;
    height: 100%;
    position: relative;
    background-color: #f6f6f6;
    width: 50%; }
    .register-page .register-box .silde .carousel {
      height: 100%;
      position: absolute; }
      .register-page .register-box .silde .carousel .carousel-indicators {
        position: absolute;
        bottom: 20%;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none; }
        .register-page .register-box .silde .carousel .carousel-indicators li {
          display: inline-block;
          width: 5px;
          height: 5px;
          margin: 1px;
          margin-right: 5px;
          text-indent: -999px;
          cursor: pointer;
          background-color: #cacaca;
          border: 1px solid #cacaca;
          position: relative;
          border-radius: 5px; }
          .register-page .register-box .silde .carousel .carousel-indicators li.active {
            width: 5px;
            height: 5px;
            background-color: #229e85;
            border: 1px solid #229e85; }
      .register-page .register-box .silde .carousel .carousel-inner {
        position: relative;
        top: 12%;
        width: 80%;
        margin: 0 10%;
        text-align: center;
        height: 88%; }
        .register-page .register-box .silde .carousel .carousel-inner .carousel-caption {
          top: 100%;
          right: 0;
          left: 0;
          text-shadow: none; }
          .register-page .register-box .silde .carousel .carousel-inner .carousel-caption h3 {
            line-height: 1em;
            font-size: 1.5em;
            color: #333; }
          .register-page .register-box .silde .carousel .carousel-inner .carousel-caption p {
            color: #666;
            line-height: 1em;
            font-size: 1em; }
  .register-page .register-box .register-content {
    display: inline-block;
    width: 50%;
    padding: 50px 70px;
    text-align: center;
    vertical-align: top; }
    .register-page .register-box .register-content h2 {
      font-size: 28px; }
    .register-page .register-box .register-content form {
      position: relative; }
      .register-page .register-box .register-content form .inner-wrap {
        margin: 25px auto;
        height: 46px;
        color: #999;
        position: relative; }
        .register-page .register-box .register-content form .inner-wrap input {
          width: 100%;
          height: 100%;
          padding-left: 40px;
          border: 1px solid #cacaca;
          border-radius: 4px; }
          .register-page .register-box .register-content form .inner-wrap input:focus {
            border: 1px solid #209e85;
            border-radius: 2px; }
        .register-page .register-box .register-content form .inner-wrap input:focus + i {
          color: #209e85; }
        .register-page .register-box .register-content form .inner-wrap i {
          position: absolute;
          top: 0px;
          font-size: 22px;
          left: .5em;
          line-height: 46px; }
      .register-page .register-box .register-content form .captcha input {
        width: 67%;
        left: 0;
        position: absolute; }
      .register-page .register-box .register-content form .captcha img {
        position: absolute;
        right: 0px;
        top: 0;
        width: 90px;
        height: 46px;
        cursor: pointer;
        display: block; }
      .register-page .register-box .register-content form .terms-box {
        text-align: left;
        font-size: 14px;
        color: #999; }
        .register-page .register-box .register-content form .terms-box .checkbox-box {
          margin-right: 10px;
          vertical-align: middle;
          display: inline-block;
          position: relative; }
          .register-page .register-box .register-content form .terms-box .checkbox-box input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0; }
            .register-page .register-box .register-content form .terms-box .checkbox-box input:checked + .check-icon {
              text-align: center;
              background: #23b598;
              border-color: transparent;
              color: #fff; }
          .register-page .register-box .register-content form .terms-box .checkbox-box .check-icon {
            display: block;
            width: 20px;
            border: 1px solid #cacaca;
            font-size: 18px;
            line-height: 18px;
            font-weight: 700;
            color: #fdfdfd; }
        .register-page .register-box .register-content form .terms-box span {
          color: #999; }
          .register-page .register-box .register-content form .terms-box span a {
            color: #24b598;
            padding: 0 5px; }
      .register-page .register-box .register-content form .submit-btn-box {
        position: relative;
        padding: 20px 0 50px; }
        .register-page .register-box .register-content form .submit-btn-box .button {
          width: 100%;
          background-color: #23b598;
          line-height: 1.6;
          padding: 5px 20px;
          box-shadow: 0 4 15px 0 rgba(36, 181, 151, 0.3);
          border: 1px solid transparent;
          border-radius: 2px;
          color: #fff; }
          .register-page .register-box .register-content form .submit-btn-box .button.disable {
            background-color: #eee;
            color: #bebebe;
            border: 1px solid transparent;
            cursor: not-allowed;
            box-shadow: none; }
    .register-page .register-box .register-content .third-party-title {
      position: relative;
      color: #cacaca;
      text-align: center; }
      .register-page .register-box .register-content .third-party-title:before {
        right: 60%;
        left: 0; }
      .register-page .register-box .register-content .third-party-title:after {
        left: 60%;
        right: 0; }
      .register-page .register-box .register-content .third-party-title:after, .register-page .register-box .register-content .third-party-title:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 48%;
        border-top: 1px solid #cacaca; }
    .register-page .register-box .register-content .third-party-wrap {
      display: inline-block;
      position: relative;
      text-align: center;
      font-size: 12px;
      margin-top: 15px;
      width: 50%; }
      .register-page .register-box .register-content .third-party-wrap a {
        display: inline-block; }
        .register-page .register-box .register-content .third-party-wrap a i {
          margin-bottom: 10px;
          width: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 24px;
          border-radius: 100em;
          background: #dcdcdc;
          color: #fff; }
          .register-page .register-box .register-content .third-party-wrap a i.fa-weixin:hover {
            background: #68b560; }
          .register-page .register-box .register-content .third-party-wrap a i.fa-weibo:hover {
            background: #d34d4c; }
      .register-page .register-box .register-content .third-party-wrap p {
        color: #999; }
